#he-plugin-simple {
  border-radius: 12px !important;
  background-color: var(--weather-bg) !important;
  box-shadow: var(--weather-bg-shadow);
  font-weight: bold;
  z-index: 92;
  transition: all 0.3s;
maxWidth600()
}
#he-plugin-simple:hover {
  box-shadow: none;
}
#he-plugin-simple:hover .s-sticker {
  background-color: var(--text-bg-hover) !important;
}
#he-plugin-simple:hover .s-sticker div {
  color: var(--white) !important;
}
#he-plugin-simple div {
  transition: all 0.3s ease-in;
  color: var(--font-color) !important;
}
#he-plugin-simple .s-sticker {
  cursor: $cursor-link, pointer !important;
  border-radius: 12px !important;
}
#he-plugin-simple .s-sticker div:not(:first-child):not(:last-child) {
  padding: 0 0.1em !important;
}
#he-plugin-simple > :last-child {
  position: fixed;
  top: 0;
  right: 5px;
}
#he-plugin-simple #weather-view-he {
  height: 285px !important;
  padding: 10px !important;
  margin-top: 30px;
  border-radius: 1em !important;
  box-shadow: 0 5px 6px -5px rgba(133,133,133,0.6);
}
#he-plugin-simple .wv-lt-location {
  cursor: $cursor-link, pointer;
}
#he-plugin-simple .wv-lt-location a {
  color: $light-blue !important;
  padding: 0 5px;
  border-radius: 3px;
  background-color: rgba(255,255,255,0.1);
  text-decoration: none !important;
}
#he-plugin-simple .wv-lt-refresh a {
  font-size: 0 !important;
}
#he-plugin-simple .wv-lt-refresh a::after {
  content: "KAZE-和风";
  font-size: small !important;
}
#he-plugin-simple .wv-top-backdrop {
  height: 285px !important;
  padding-top: 50px !important;
  backdrop-filter: saturate(180%) blur(5px);
}
#he-plugin-simple .wv-top-backdrop select,
#he-plugin-simple .wv-top-backdrop button {
  height: 36px !important;
  border: none !important;
  border-radius: 8px !important;
  cursor: $cursor-link, pointer;
  transition: 0.25s;
}
#he-plugin-simple .wv-top-backdrop select {
  text-align: center;
  color: $light-blue;
}
#he-plugin-simple .wv-top-backdrop button {
  background-color: $light-blue;
  color: var(--white);
}
#he-plugin-simple .wv-top-backdrop .wv-top-button:hover {
  background-color: var(--tab-button-hover-bg) !important;
}
