#workboard {
  margin-top: 5px;
}

.boardsign {
  border-radius: 2px !important;
}

.textTip {
  font-size: 12px;
  color: var(--font-color);
}

.textTip #year {
  font-weight: bolder;
  color: #d42258;
}

.textTip #days {
  font-weight: bolder;
  color: #0051ff;
}

.textTip #hour {
  font-weight: bolder;
  color: #952aca;
}

.textTip #minute {
  font-weight: bolder;
  color: #00ffe1;
}

.textTip #second {
  font-weight: bolder;
  color: #3f3ce2;
}

.fa-heartbeat {
  margin: 3px;
  animation: heartBeat 4s ease-in-out;
}

#ghbdages img {
  border-radius: 2px !important;
}
